body, #form * {
    margin: 0;
    padding: 0;
}

#form {
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    font-family: 'Inconsolata';
    font-size: 22px;
    color: #fff;
}

#input {
    display: flex;
    gap: 2px;
}

#input * {
    padding: 2px;
    color: #fff;
    background-color: #000;
    border: solid 1px #fff;
}

#btn {
    cursor: pointer;
    border-radius: 8px;
}

#h1 {
    cursor: default;
}

#chat-frame {
    height: calc(100% - 56px);
    width: 100%;
    border: 0;
}
