h1 {
    margin-bottom: 1em;
    text-align: center;
}

h3 {
    margin: 2em 0 1em 0;
}

p {
    margin-bottom: 1em;
    line-height: 150%;
    text-align: justify;
}

.impressum-text {
    background-color: #fff;
    color: #000;

    padding: 3em 5em;
    text-align: start;
}